html {
  height: 100%;
  overflow: hidden;
  background: #1f9bcf;
  background: linear-gradient(
    180deg,
    rgba(31, 155, 207, 1) 0%,
    rgba(40, 132, 187, 1) 100%
  );
}

body {
  background: none;
}
